<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="TestController">
    <form method="POST">
        {% csrf_token %}
        <div class="panel">
            <input type="text" ng-model="processes[0].name" ng-change="change(processes[0].name)"/>
            <p ng-bind="processes[0].name"></p>
        </div>
    </form>

    <script src="/static/helloworld/js/lib/angular.min.js"></script>
    <script>
        angular.module('myApp', []);
    </script>
    <script src="/static/helloworld/js/controllers/TestController.js"></script>
</body>
</html>