<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body class="container">
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите id</label><br>
            <input type="number" name="proc_id" />
        </p>
        <p>
            <label>Введите имя процесса</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите имя пользователя</label><br>
            <input type="text" name="user" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% if processes.count > 0 %}
    <div class="page-header">
        <h1>Процессы</h1>
    </div>
    <div class="panel">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Процесс</th>
                <th>Пользователь</th>
            </tr>
            {% for process in processes %}
            <tr>
                <td>{{ process.proc_id }}</td>
                <td>{{ process.name }}</td>
                <td>{{ process.user }}</td>
                <td><a href="edit/{{process.id}}/">Изменить</a> | <a href="delete/{{process.id}}/">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>